@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

.content {
  height: 80vh;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px gray;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: center;
  gap: 2rem;
  
}

.not-found img{
  height: 400px;
}